//background color

$appBackground: #e6e8f0ff;
$loginBackground: #f0f0f5ff;
$tableHeaderBackground: rgb(255, 138, 92);

//title
$whiteColor: #fff;
$textColor1: #3d3d3d;
$textColor2: #b77723;

//button background colors
$loginButton: rgb(254, 96, 96);
$hoverButton: rgb(255, 38, 38);

//border
$borderLine: #6b6b6b;

//box shadow 
$boxShadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
$boxShadow1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
$boxShadow2: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// login box shadow
$boxShadowLoginButton: 1px 6px 5px 1px rgba(255, 99, 99, 0.3);
$moz-boxShadowLoginButton: 1px 6px 5px 1px rgba(255, 99, 99, 0.3);
$webkit-boxShadowLoginButton: 1px 6px 5px 1px rgba(255, 99, 99, 0.3);

//facebook color icon
$facebookColor: #4267B2;

//placeholder color
$placeholder: #b7b7b7;
