@import "Colors.module.scss";

.company-container{
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    padding-top: 100px;
    margin: 0 auto;
    background-color: $appBackground;
}